@import '../../../main-styles.scss';

.centered-content {
    display: flex;
    width: 100%;
}

.modal-box{
    height: 500px;
    width: 400px;
    max-width: 580px;
    background: white;
    border-radius: 5px;
    padding: 35px;
}

.field {
    display: flex;
    flex-direction: column;
}

.control {
    padding: 5px;
}

.button {
    width: 100px;
    margin-bottom: 10px;
}

#text{
    height: 100px;
}

.comment-list-container {
    padding: 42px;
    width: 70%;
}

.title {
    font-family: 'Lato';
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

th {
    display: flex;
    padding-left: 13px;
}

.task {
    display: flex;
    flex-direction: column;
    width: 90%;
    background: white;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 10px;

    transition: box-shadow 0.2s ease;

    &:hover {
        box-shadow: 0 0 0 5px #eeeeee;
    }

    &.closed{
        background: hsl(0, 9%, 90%);
    }

    &.in-progres {
        background: #cff8ef;
    }
}

.task-description {
    background: rgb(252, 246, 246);
    height: 90%;
    margin: 10px;
    padding: 10px;
    word-wrap: break-word;
    overflow: hidden;
    width: 600px;
}

.sec-row {
    padding-left: 13px;
}

.comments-btn {
    margin-left: 13px;

    &.is-active {
        background-color: $dark-green;
    }
}

.comment-header{
    display: flex;
    flex-direction: column;
}

#site-search {
width: 70%;
margin: 0 8px;
}

.add-comments-btn{
    width: 30%;
    margin: 8px;
}