<div class="centered-content">
    <div class="task-manager-container">

        <div class="sidebar has-background-white">
            
            <div class="list-menu">
                <a href="/tasks" class="list-menu-item" (click)="loadAllTasks" routerLink="is-active">
                    <p>ALL TASKS</p>
                </a>
                <a href="" class="list-menu-item" id="opened" onclick="reply_click(this.id)" routerLink="is-active">
                    <p>Opened</p>
                </a>
                <a href="" class="list-menu-item" id="closed" onclick="reply_click(this.id)" routerLink="is-active">
                    <p>Closed</p>
                </a>
                <a href="" class="list-menu-item" id="inProgress" onclick="reply_click(this.id)" routerLink="is-active">
                    <p>In progres</p>
                </a>
            </div>

            <div class="task-list-container has-background-light"
            >
                <h1 class=" title has-text-primary">
                    Tasks
                </h1>
    
                <a *ngFor="let task of tasks" [routerLink]="['/tasks', task._id, 'comments']">
                <table class="task" >
                    <thead>
                        <tr>
                            <th>Created date : {{task.createdDate}}</th>
                            <th>Required by Date : {{task.requiredDate}}</th>
                            <th>Status : {{task.status}}</th>
                            <th>Type : {{task.taskType}}</th>
                        </tr>
                     </thead>
    
                        <tbody>
                            <tr>
                                <p class="task-description"> {{task.description}} </p>
                            <th class="sec-row">Assigned to : {{task.assignedTo}}</th>
                            <!-- <button class="button is-primary has-text-white comments-btn is-active"
                            >
                                All Comments
                            </button> -->
                            </tr>
                        </tbody>
                </table>
                </a>
            </div>
        </div>
    </div>
</div>
